/* here you can put your own css to customize and override the theme */

.profile-userpic {
	margin: 0 auto; 
	width: 150px; 
	height: 150px; 
	border-radius: 50%; 
	background-size: cover;
	background-position: center center;
}

.update-user-wrap {
	position: relative;
}

.profile-userpic.profile-userimages {
	width: 200px;
	height: 200px;
	position: relative;
}

.update-user-images.profile-edit {
	border:none;
	outline:none;
	position: absolute;
	right: 0;
	top: 0;
	left:auto;
	width: 64px;
	height: 30px;
	line-height: 30px;
	color:#fff;
	background-color:#444d58;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	text-align: center;
}

.update-user-images.profile-edit:focus {
	text-decoration: none;
}

.update-user-images.profile-edit:hover {
	opacity: 0.6;
	text-decoration: none;
	color:#fff;
}

.menu-user-avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
	display: inline-block;
	margin-right: 10px;
}

.fileinput-preview {
	min-width: 150px;
	min-height: 150px;
	background-position: center;
	background-position: center center;
}

.item-avatar {
	background-size: cover;
	background-position: center center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
}