table td.highlighted { background-color:#999;}
.add_custom_bookings_btn { display:none; height: 30px; width: 30px; font-weight: bold; margin-right: 1px; float: right; font-size: 24px; line-height: 20px !important; padding: 4px 3px 0px; }

.margin-bottom-0{ margin-bottom:0px;}
.legend-calendar-products{ padding-left:5px; margin-bottom:10px;}
.legend-calendar-products>div{ display:inline-block; margin-bottom:4px;}
.legend-calendar-products>div>a{ padding:0px 10px; margin-left:10px; margin-right:5px;}

.show-no-show{height:26px; width:26px; padding:3px 3px 0 0; margin-right:1px !important; cursor:default; margin-left:0px !important;}
.finance-btn {margin-left: 0px !important; height:26px; width:26px; padding-top:0px; margin-right:1px !important; font-size:20px; line-height:24px !important; cursor:default;}
.more-info-btn {margin-left: 0px !important; height:26px; width:26px; padding-top:4px; margin-right:1px !important; cursor:default;}
.membership-product-btn {margin-left: 0px !important; height:26px; width:26px; padding-top:4px; margin-right:1px !important;}

.move-booking-available{ background: #1bbc9b none repeat scroll 0 0 !important; }
.move-booking-selected-btn{ background: #9a12b3 none repeat scroll 0 0 !important; color:#ffffff !important; border-color:#9a12b3 !important;}