.fix_margin_top_0 {margin-top:0px !important;}
.fix_padding_top_0 {padding-top:0px !important;}

/* Datepicker highlighted color */
.datepicker table tr td.highlighted {
    background-color: #ff9f85;
    border: 1px solid #d91e18;
}

.has-error .note-editor {
	border: 1px solid #e73d4a !important;
}

.has-success .note-editor {
	border: 1px solid #27a4b0 !important;
}

textarea[name=content] {
    resize: none;
}

.back,
.back:hover,
.back:active,
.back:visited {
	font-size: 18px;
	margin-right: 10px;
	text-decoration: none;
}

.hooks-box {
	display: none;
}

.back-link {
	padding-top: 7px;
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.loader {
	font-size: 2px;
	display: none;
	position: relative;
	line-height: 20px;
	margin-left: 10px;

	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #000000;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

.label-var {
	display: inline-block;
	margin: 3px;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


@media (max-width: 768px)
{
	.invoice .invoice-logo .md-text-center	{
		text-align: center;
	}
}

.btn-info-paragraphe.dropdown-menu {
    padding: 10px;
    min-width: 290px;
}