.fix_margin_top_0 {margin-top:0px !important;}
.fix_padding_top_0 {padding-top:0px !important;}

/* Datepicker highlighted color */
.datepicker table tr td.highlighted {
    background-color: #ff9f85;
    border: 1px solid #d91e18;
}

.has-error .note-editor {
	border: 1px solid #e73d4a !important;
}